#root{
  width:100vw;
  height: 100vh;
}

.App {
  width: inherit;
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}

.flex-centered{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.device-card{
  position: relative;
  display: flex;
  margin: 20px;
  height: 100px;
  width: 300px;
}

.device-card:hover .device-card-back-face{
  transform: rotateY(0);
}

.device-card:hover .device-card-front-face{
  transform: rotateY(180deg);
}

.device-card-back-face{
  /*position: relative;*/
  transform: rotateY(180deg);
}

.device-card-front-face{
  /*position: relative;*/
  /*transform: rotateX(0);*/

}

.device-card-face{

  height: inherit;
  width: inherit;
  position: absolute;
  top: 0;
  left: 0;
  /*padding-top: 20px;*/
  transition: transform 1s;
  transition-timing-function: ease-in-out;
  backface-visibility: hidden;
}



